body {
  font-family: Arial, sans-serif;
  background-image: url('img1.png');
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  backdrop-filter: blur(4px);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}
.icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  font-size: 16px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #0056b3;
}

#expense-list {
  margin-top: 20px;
}

.expense-card {
  background: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-info {
  display: flex;
  flex-direction: column;
}

.delete-btn {
  background: rgb(11, 184, 77);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.total {
  text-align: right;
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}
